body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F1F5F8;
  color: hsl(209, 61%, 16%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
nav{
  background: rgb(209 250 229);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: hsl(205, 86%, 17%);
  transform: rotate(90deg);
}
.Flipkart{
  height: 40px;
  font-size: large;
  font-weight: bold;
}
.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.2rem 0.4rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-container {
  height: 10rem;
}
ul {
  list-style-type: none;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 15px;
}
a {
  text-decoration: none;
}
/* Navbar */
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: hsl(205, 78%, 60%);
    transition: all 0.3s linear;
  }
  .social-icons a:hover {
    color: hsl(205, 90%, 76%);
  }
}

.skill_1{
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 0rem 2rem;
}
.skill_Tech{
  border-bottom: 1px solid #292f2c;
} 
.btn{
  padding:12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #71c89b;
  /* color:#222; */
  border:1px solid #fff;
  font-weight: 600;
  cursor:pointer;
}
.btn:hover{
  background:  #abcfbc;
  color:#615050;
  transition:0.3s;
}

/* Tourist code */

main{
  width: 100vw;
  min-height: 100vh;
  display: grid;  
  place-items: center;
}
.title{
  text-align: center;
  margin-bottom: 4rem;
}
.title h2 {
  display: block;
  font-size: 2em;
  margin-block-start: 2em;
  margin-block-end: 0.30em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.underline{
  width: 6rem;
  height: 0.20rem;
  border-bottom: 5px solid #10B981;
  margin-left: auto;
  margin-right: auto;
}
.main {
  width: 80vw;
  align-items: center;
}
.card_m{
  align-items: center;
  width: 30%;    
  padding: 20px;
  float: left;
}
.card_m:hover{
  box-shadow: 0 1px 2px black;
  transition: 1s;
}
.card_detail{
  overflow: hidden;
  padding: 10px;
}
.tour-price {
  position: absolute;
  color: #ffffff;
  background: #10b981;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.image{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius:0.25rem;
  border-top-left-radius:0.25rem;
}
.card_d{
  padding: 10px;
  font-size: 15px;
}
.card_d h1{
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.card_d p{
  line-height: 1.5;
  color: #64748b;
  margin-bottom: 1.25rem;
}
.button_1{
  color: #10b981;
  font-weight: 600;
  border: none;
}
.button_1, .button_2 {
  background: transparent;
  border: transparent;
  text-transform: capitalize;
  cursor: pointer;
}
.button_2{
  width: 100%;
  border: 1px solid#10B981;
  padding: 7px;
  border-radius: 5px;
  transition: 0.5s;
}
.button_2:hover{
  background-color: #10B981;
  color: #ffffff;
  box-shadow: 0px 0px 0px -3px rgba(0, 0, 0, .1);
}
@media screen  and (min-width: 280px){
  .main {
    width: 85vw;
    align-items: center;
  }
  .card_m {
    width: 100%;
  }
}
@media screen  and (min-width: 600px){
  .main {
    width: 100vw;
    align-items: center;
  }
  .card_m {
    width: 44%;
    float: left;
  }
}
@media screen  and (min-width: 800px){
  .main {
    width: 100vw;
    align-items: center;
  }
  .card_m {
    width: 28%;
    float: left;
  }
}
@media screen  and (min-width: 992px){
  .main {
    width: 98vw;
    align-items: center;
  }
  .card_m {
    width: 21%;
    float: left;
  }
}